.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.textoIcono {
  text-align: left;
}

.textoIconoSubmenu {
  text-align: left;
  font-size: 14px;
  width: 150%;
}

.divIcono {
  text-align: left;
  width: 66%;
}

.divIconoSubmenu {
  width: 58%;
}

.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: 300ms ease-in-out;
  height: 0;
}
.submenu.expanded {
  height: 144px;
}
