<form [formGroup]="form">
  <mat-form-field>
    <input name="name"
           matInput
           type="text"
           formControlName="name"
           placeholder="Nombre proyecto" />
  </mat-form-field>
  <br>
  <div *ngFor="let error of errorFunction('name')">
    <span class="errorMessage">{{error}}</span>
    <br>
  </div>

  <div id="mensajeDiv"
       [hidden]="!nuevoId$"><b>Se ha añadido correctamente un proyecto con ID: {{nuevoId$ | async}}</b></div>

  <button mat-raised-button
          id="btnGuardar"
          type="button"
          [disabled]="form.invalid"
          (click)="nuevoproyecto.emit()">Guardar</button>

</form>
