<header id="header">
  <div id="titulo"
       style="display: inline-block">
    <label>{{title}}</label>
  </div>
  <div id="barraNavegacion"
       style="display: inline-block">
    <a routerLink="/"
       routerLinkActive="router-link-active"
       class="button">
      <fa-icon [icon]="homeIcon"
               class="fa-2x"
               style="color:white"></fa-icon>
    </a>
    <a routerLink="projects"
       routerLinkActive="router-link-active"
       class="button">
      <fa-icon [icon]="listIcon"
               class="fa-2x"
               style="color:white"></fa-icon>
    </a>


  </div>
</header>
