#header {
  background: #111111;
  color: rgba(255, 255, 255);
  cursor: default;
  height: 50px;
  left: 0;
  line-height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
}
#titulo {
  padding: 0 10px;
}
